# general
numpy~=1.20.0
scikit-learn~=0.24.1
pandas~=1.2.4

# profiling
psutil~=5.8.0

# GPU profiling
pynvml~=8.0.4

# PXPY / MRF experiments
pxpy~=1.0a68
networkx~=2.5

# DNN experiments
--find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.1+cpu
# torchvision==0.9.1+cpu
# torchaudio===0.8.1
# OR
torch==1.8.1+cu102
torchvision==0.9.1+cu102
torchaudio===0.8.1
opencv-python~=4.5.1.48